#container {
  margin: 4rem auto;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-gray-light-2);
  max-width: 60rem;
}

/* ******************HEADER************************** */
header {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--color-gray-light-2);
  border-bottom: var(--line);
  background-color: var(--color-white);
  padding: 1rem 0;
  min-height: 3.5rem;
  font-size: 0.7rem;

  .logo {
    margin-left: 1rem;
  }

  nav.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      height: 100%;
      &:hover {
        background-color: var(--color-gray-light-2);
      }
    }
    .icon-box {
      position: relative;
      svg {
        display: inline-block;
        width: 1.125rem;
        height: 1.125rem;
        fill: var(--color-gray-dark-2);
      }
      span {
        display: flex;
        position: absolute;
        top: 0;
        right: 0.45rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--color-primary);
        width: 0.875rem;
        height: 0.875rem;
        color: var(--color-white);
        font-size: 0.4rem;
      }
    }
    .user .user-photo {
      margin-right: 0.5rem;
      border-radius: 50%;
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    input {
      transition: 0.3s;
      margin-right: -1.75rem;
      margin-left: -0.75rem;
      border-radius: 100px;
      background-color: var(--color-gray-light-2);
      padding: 0.35rem 1rem;
      width: 90%;

      &::placeholder {
        color: var(--color-gray-light-4);
        font-weight: 300;
      }
      &:focus {
        outline: none;
        background-color: var(--color-gray-light-3);
        width: 100%;
      }
    }
    input:focus + button {
      background-color: var(--color-gray-light-3);
    }

    button {
      cursor: pointer;

      svg {
        width: 1rem;
        height: 1rem;
        fill: var(--color-gray-dark-3);
      }
    }
  }
  @media screen and (min-width: 40rem) {
    padding: unset;
    form {
      order: 1;
      width: 40%;
      input {
        margin-left: unset;
      }
    }
    nav.user-nav {
      order: 2;
      .icon-box {
        span {
          top: 0.75rem;
          right: 0.55rem;
        }
      }
    }
  }
}

#content {
  nav {
    background-color: var(--color-gray-dark-1);
    padding: 0.5rem 0;
    font-size: 0.7rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0 2rem;

      li {
        position: relative;
        color: var(--color-gray-light-1);

        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          transition: 0.2s;
          cursor: pointer;
          padding: 0.5rem;
          color: inherit;
          svg {
            width: 0.875rem;
            height: 0.875rem;
            fill: currentColor;
          }
          span {
            text-transform: uppercase;
          }
          &:active {
            background-color: var(--color-primary-light);
          }
        }
      }
    }
    .legal {
      display: none;
    }
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--color-white);
    .hotels-images {
      .image {
        width: 100%;
      }
    }
    .overview {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      order: -1;
      gap: 0 1rem;
      border-bottom: var(--line);

      .left,
      .right {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        align-items: center;
      }
      .left {
        h1 {
          padding: 0.75rem 0.5rem;
          font-weight: 300;
          font-size: 1.125rem;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        .stars {
          display: flex;
        }
      }
      .right {
        justify-content: end;
        gap: 1.5rem;
        margin-left: auto;
      }

      svg {
        width: 0.875rem;
        height: 0.875rem;
        fill: var(--color-primary);
      }

      .location {
        display: flex;
        align-items: center;

        gap: 0.25rem;
        color: var(--color-primary);
        font-size: 0.6rem;
      }
      .rating {
        align-self: stretch;
        background-color: var(--color-primary);
        padding: 0 1.125rem;
        color: var(--color-white);
        text-align: center;
        .average {
          font-weight: 300;
          font-size: 1.125rem;
        }
        .count {
          margin-top: -3px;
          font-size: 0.4rem;
          text-transform: uppercase;
        }
      }
    }

    .detail {
      border-bottom: var(--line);
      background-color: var(--color-gray-light-1);
      padding: 1rem;

      .description {
        box-shadow: var(--shadow-dark-medium);
        background-color: var(--color-white);
        padding: 1rem;
        font-size: 0.9rem;

        p {
          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }
        }

        .list {
          margin: 1.5rem 0;
          border-top: var(--line);
          border-bottom: var(--line);
          padding: 1.5rem 0;

          li {
            margin-bottom: 0.35rem;

            &::before {
              display: inline-block;
              /* newer browsers mask */
              mask: url('/icons/chevron-thin-right.svg') center / cover
                no-repeat;
              margin-right: 0.35rem;
              /* older browsers */
              /* background: url('/icons/chevron-thin-right.svg') center / cover
                no-repeat; */
              background-color: var(--color-primary);
              width: 0.5rem;
              height: 0.5rem;
              content: '';
            }
          }
        }
        .recommend {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem 1rem;
          color: var(--color-gray-dark-3);

          .friends {
            img {
              display: inline-block;
              outline: 3px solid var(--color-white);
              border-radius: 50%;
              width: 2rem;
              height: 2rem;
              &:not(:first-of-type) {
                margin-left: -0.75rem;
              }
            }
          }
        }
      }
      .reviews {
        display: flex;
        flex-direction: column;

        .btn-see-all {
          align-self: center;
          margin-top: auto;
        }
      }

      .cta {
        padding: 1.75rem 0;
        width: 100%;
        text-align: center;

        h2 {
          margin-bottom: 1.25rem;
          font-weight: 300;
          font-size: 1rem;
          text-transform: uppercase;
        }

        button {
          position: relative;
          cursor: pointer;
          border-radius: 100px;
          background: linear-gradient(
            to right,
            var(--color-primary-light),
            var(--color-primary-dark)
          );
          overflow: hidden;
          color: var(--color-white);
          font-weight: 300;
          font-size: 0.75rem;
          text-transform: uppercase;

          & > span {
            display: inline-block;
            transition: 0.2s;
            width: 100%;
            height: 100%;
          }

          .visible {
            padding: 1rem 3.75rem;
          }
          .hidden {
            position: absolute;
            top: -100%;
            left: 0;
            padding: 1rem 0;
          }
          &:hover {
            background: linear-gradient(
              to left,
              var(--color-primary-light),
              var(--color-primary-dark)
            );
            .visible {
              transform: translateY(100%);
            }
            .hidden {
              top: 0;
            }
          }
          &:focus {
            animation: pulsate 1s infinite;
            outline: none;
          }
        }
      }
    }
  }

  @media screen and (min-width: 40rem) {
    display: flex;

    nav {
      display: flex;
      row-gap: 10rem;
      flex: 0 0 20%;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;

      ul {
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 1.75rem;
        li {
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
              background-color 0.2s;
            background: var(--color-primary);
            width: 3px;
            height: 100%;
            content: '';
          }
          a {
            position: relative;
            z-index: 10;
            padding: 0.75rem 1.5rem;
            &:active {
              background-color: transparent;
            }
          }
          &:hover::before,
          &.active::before {
            transform: scaleY(1);
            width: 100%;
          }
          &:active::before {
            background-color: var(--color-primary-light);
          }
        }
      }
      .legal {
        display: block;
        padding: 1.25rem;
        color: var(--color-gray-light-4);
        font-size: 0.6rem;
        text-align: center;
      }
    }

    main {
      .hotels-images {
        display: flex;
      }
      .overview {
        order: 0;
        .left {
          h1 {
            padding: 0.75rem 1.5rem;
          }
        }
      }
      .detail {
        padding: 2.25rem;
        .description {
          padding: 1.5rem;
        }
      }
    }
  }
  @media screen and (min-width: 60rem) {
    main {
      .detail {
        display: flex;
        flex-wrap: wrap;
        gap: 2.25rem;

        .description {
          flex: 0 0 60%;
        }
        .reviews {
          flex: 1;
        }
      }
    }
  }
  @media screen and (min-width: 80rem) {
    main {
      .detail {
        .description {
          .list {
            display: flex;
            flex-wrap: wrap;

            li {
              flex: 0 0 calc(50% - 0.5rem);
            }
          }
        }
      }
    }
  }
}
