---
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import logo from '@/assets/images/logo.png';
import user from '@/assets/images/user.jpg';
import ButtonLink from '@/components/ButtonLink.astro';

const hotels = import.meta.glob<{ default: ImageMetadata }>(
  '@/assets/images/hotels/*.jpg'
);
const friends = import.meta.glob<{ default: ImageMetadata }>(
  '@/assets/images/friends/*.jpg'
);
const hotelsFuncs = Object.values(hotels);
const hotelsImages = hotelsFuncs.map((hotelFunc) => hotelFunc());
const friendsFuncs = Object.values(friends);
const friendsImages = friendsFuncs.map((friendFunc) => friendFunc());
---

<BaseLayout title="Trillo | Your all-in-one booking app">
  <div id="container">
    <header>
      <div class="logo">
        <Image src={logo} alt="Logo" height="32.5" loading="eager" />
      </div>
      <nav class="user-nav">
        <div class="icon-box">
          <svg><use xlink:href="/icons/sprite.svg#icon-bookmark"></use></svg>
          <span class="notification">7</span>
        </div>
        <div class="icon-box">
          <svg><use xlink:href="/icons/sprite.svg#icon-chat"></use></svg>
          <span class="notification">13</span>
        </div>
        <div class="user">
          <Image class="user-photo" src={user} alt="User photo" height="37.5" />
          <span class="user-name">Jonas</span>
        </div>
      </nav>
      <form action="#">
        <input type="text" placeholder="Search hotels" />
        <button
          ><svg class="icon-search"
            ><use xlink:href="/icons/sprite.svg#icon-magnifying-glass"
            ></use></svg
          ></button
        >
      </form>
    </header>

    <!-- CONTENT -->
    <div id="content">
      <!-- SIDEBAR -->
      <nav>
        <ul>
          <li class="active">
            <a href="#">
              <svg><use xlink:href="/icons/sprite.svg#icon-home"></use></svg>
              <span>Hotels</span></a
            >
          </li>
          <li>
            <a href="#">
              <svg
                ><use xlink:href="/icons/sprite.svg#icon-aircraft-take-off"
                ></use></svg
              >
              <span>Flight</span></a
            >
          </li>
          <li>
            <a href="#">
              <svg><use xlink:href="/icons/sprite.svg#icon-key"></use></svg>
              <span>Car rental</span></a
            >
          </li>
          <li>
            <a href="#">
              <svg><use xlink:href="/icons/sprite.svg#icon-map"></use></svg>
              <span>Tours</span></a
            >
          </li>
        </ul>
        <div class="legal">
          &copy; {new Date().getFullYear()} by Trillo. All rights reserved.
        </div>
      </nav>

      <!-- MAIN -->
      <main>
        <div class="hotels-images">
          {
            hotelsImages.map((hotel, i) => (
              <Image class="image" src={hotel} alt={`hotel-${i + 1}`} />
            ))
          }
        </div>

        <div class="overview">
          <div class="left">
            <h1>Hotel Las Palmas</h1>
            <div class="stars">
              {
                Array.from(new Array(5)).map((star) => (
                  <svg class="star">
                    <use xlink:href="/icons/sprite.svg#icon-star" />
                  </svg>
                ))
              }
            </div>
          </div>

          <div class="right">
            <div class="location">
              <svg
                ><use xlink:href="/icons/sprite.svg#icon-location-pin"
                ></use></svg
              >
              <ButtonLink href="#">Albufeira, Portugal</ButtonLink>
            </div>

            <div class="rating">
              <div class="average">8.6</div>
              <div class="count">429 votes</div>
            </div>
          </div>
        </div>

        <div class="detail">
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
              nisi dignissimos debitis ratione sapiente saepe. Accusantium
              cumque, quas, ut corporis incidunt deserunt quae architecto
              voluptate.
            </p>
            <p>
              Accusantium cumque, quas, ut corporis incidunt deserunt quae
              architecto voluptate delectus, inventore iure aliquid aliquam.
            </p>
            <ul class="list">
              <li>Close to the beach</li>
              <li>Breakfast included</li>
              <li>Free airport shuttle</li>
              <li>Free wifi in all rooms</li>
              <li>Air conditioning and heating</li>
              <li>Pets allowed</li>
              <li>We speak all languages</li>
              <li>Perfect for families</li>
            </ul>
            <div class="recommend">
              <p>Lucy and 3 other friends recommend this hotel</p>
              <div class="friends">
                {
                  friendsImages.map((friendImage, i) => (
                    <Image src={friendImage} alt={`friend-${i + 1}`} />
                  ))
                }
              </div>
            </div>
          </div>
          <div class="reviews">reviews</div>
        </div>
      </main>
    </div>
  </div>
</BaseLayout>
